@use "./font.scss";
@use "./color.scss";
@use "./cursor.scss";

* {
  user-select: none;
  font-family: var(--font-list-standard);
}

// 给网站全局的 rem 做基准
// 怎么算出来的这个值（0.4238vw）：
// 系数 = (最大字号-最小字号)/(最大视口-最小视口)*100
// 视口取值 max1366 min375
// (17.2 - 13)/(1366 - 375) * 100 = 0.4238143
html {
  font-size: clamp(13px, 13px + 0.4238vw, 17.2px);
}
